*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    line-height: 1.2;
    margin: 0;
    padding: 10px;
    background-color: #ffffff;
    color: #333;
    font-size: 14px;
}

.gender-buttons {
    display: flex;
    gap: 10px;
    margin: 0px 0;
}

.gender-btn {
    font-family: 'Inter', sans-serif;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #a5a5a5;
    border-radius: 5px;
    background-color: #ffffff;
    color: #636363;
    cursor: pointer;
}
.gender-btn:hover {
    background-color: #333;
    border: 1px solid #333;
    color: #ffffff;
}
.gender-btn.active {
    background-color: #333;
    border: 1px solid #333;
    color: #ffffff;
}

.search-container {
    text-align: left;
    margin: 20px 0;
}

#searchInput {
    font-family: 'Inter', sans-serif;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 10px;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    outline: none;
}

#searchInput:focus {
    border-color: #a5a5a5;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
}

img {
    width: 5rem;
    height: auto;
    padding: 5px;
}

strong {
    font-weight: 600;
}

em {
    font-style: italic;
}

u {
    text-decoration: underline;
}

hr {
    border: none;
    height: 1px;
    background-color: #b9b9b9;
    margin: 20px 0;
}

@media (max-width: 768px) {
    body {
        font-size: 13px;
        padding: 4px;
    }

    img {
        width: 4rem;
    }

    #searchInput {
    font-size: 13px;
    }   

    .katex {
        font-size: 0.8rem;
    }

    .katex-display {
        overflow-x: auto;
        overflow-y: hidden;
    }
}